# --- Python ---
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/
env/
*.sqlite3
*.log
generated_projects/


# --- Qt/PySide ---
*.qrc
*.pyc

# --- Node/Vite/React ---
node_modules/
dist/
build/
.vite/
*.log

# --- System/Editor ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# --- Env files ---
.env
.env.*
